/*
Architecture: There is no structure in CSS, that will cause a lot of code dublication and your confusion with project growth.
I stronly recommend to research CSS architectures. SMACSS (https://smacss.com/) is really an amazing candidate to look at.
*/
.main button {
    margin-top: 10px;
}

.todoContainer table {
    width: 100%;
    text-align: left;
}

.todoContainer table .complete {
    background-color: #EBFFE5;
}

.todoContainer table button {
    margin: 1px;
}

div .calendarContainer .ui-datepicker{
    position: relative;
    left: 50%;
    margin-left: -425px;
    font-size:50px;
}


