<button type="button" class="btn col-sm-1" ui-sref="main">Home</button>
<div class="container text-center">

    <div class="page-header">
        <h1>Todo list</h1>
    </div>

    <div class="row todoContainer">
        <todo-list></todo-list>

    </div>

</div>

