<div ng-controller="todoListCtrl as vm">
    <table>
        <thead>
            <tr>
                <th class="col-sm-3">
                    Date
                </th>
                <th class="col-sm-3">
                    Task
                </th>
                <th class="col-sm-2">
                    Complete
                </th>
                <th class="col-sm-2">
                    Edit
                </th>
                <th class="col-sm-2">
                    Remove
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-class="{complete : todo.completed }" ng-repeat="todo in vm.todoList track by $index" ng-init="todo=todo">
                <td class="col-sm-3">
                    {{todo.date}}
                </td>
                <td class="col-sm-3">
                    {{todo.task}}
                </td>
                <td class="col-sm-2">
                    <label><input type="checkbox" ng-checked="todo.completed" ng-click="vm.markCompleted($index, todo.completed)"></label>
                </td>
                <td class="col-sm-2">
                    <button ng-show="!todo.isEditing" type="button"
                            class="btn btn-info" ng-click="vm.editItem($index)" ng-disabled="todo.completed">Edit</button>
                    <button ng-show="todo.isEditing" type="button"
                            class="btn btn-danger" ng-click="vm.cancelEdit($index)" ng-disabled="todo.completed">Cancel</button>
                </td>
                <td class="col-sm-2" ng-click="vm.removeItem($index)">
                    <button type="button" class="btn btn-danger" ng-disabled="todo.completed">X</button>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <!-- TODO move this to utils, may be generic form -->
    <div class="addItemForm text-left">
        <form class="form-inline row">
            <div class="form-group col-sm-3">
                <label>
                    Date:
                </label>
                <input class="form-control" type="text" ng-model="todoDate" picks="1" date-picker />
            </div>
            <div class="form-group col-sm-4">
                <label>
                    Todo:
                </label>
                <textarea class="form-control" rows="1" cols="30" ng-model="vm.todoTask"></textarea>
            </div>
            <div class="form-group col-sm-3">
                <button type="button" class="btn btn-success" ng-click="vm.isEditing ? vm.submitTaskChanges(): vm.addTask()">Submit</button>
            </div>
        </form>

    </div>

</div>
