<button type="button" class="btn col-sm-1" ui-sref="main">Home</button>
<div class="container text-center">

    <div class="page-header">
        <h1>Calendar</h1>
    </div>

    <div class="calendarContainer">
        <div date-picker></div>
    </div>

</div>