<button type="button" class="btn col-sm-1" ui-sref="main">Home</button>
<div class="container text-center">

    <div class="page-header">
        <h1>Activity</h1>
    </div>

    <div class="activityListContainer">
        <activity-list></activity-list>
    </div>

</div>