<div ng-controller="activityCtrl as vm">
    <table class="table table-hover text-left">
        <thead>
        <tr>
            <th class="col-sm-2">
                Modification Date
            </th>
            <th class="col-sm-2">
                Task Date
            </th>
            <th class="col-sm-4">
                Task
            </th>
            <th class="col-sm-4">
                Action
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="event in vm.activityList track by $index">
            <td class="col-sm-2">
                {{event.date}}
            </td>
            <td class="col-sm-1">
                {{event.taskDate}}
            </td>
            <td class="col-sm-5">
                {{event.task}}
            </td>
            <td class="col-sm-4">
                {{event.action}}
            </td>
        </tr>
        </tbody>
    </table>
</div>